<div ...attributes>
  <label for="hours">
    Hours
  </label>
  <input
    placeholder="HH"
    class={{if this.hoursFocussed "has-focus"}}
    type="text"
    value={{this.statechart.state.context.hours}}
    {{on "focus" this.focus}}
    {{on "focus" this.focusHours}}
    {{on "keydown" this.keyDown}}
    {{on-key "ArrowUp" this.up}}
    {{on-key "ArrowDown" this.down}}
    {{on-key "Tab" this.tab}}
    {{on "blur" this.blur}}
    {{on "input" this.input}}
  />
  <span>
    :
  </span>
  <input
    placeholder="MM"
    class={{if this.minutesFocussed "has-focus"}}
    type="text"
    value={{this.paddedMinutes}}
    {{on "focus" this.focus}}
    {{on "focus" this.focusMinutes}}
    {{on-key "ArrowUp" this.up}}
    {{on-key "ArrowDown" this.down}}
    {{on-key "Tab" this.tab}}
    {{on "keydown" this.keyDown}}
    {{on "blur" this.blur}}
    {{on "input" this.input}}
  />
  <span>
  </span>
  <input
    placeholder="AM/PM"
    class={{if this.meridiemFocussed "has-focus"}}
    type="text"
    value={{this.statechart.state.context.meridiem}}
    {{on "focus" this.focus}}
    {{on "focus" this.focusMeridiem}}
    {{on-key "ArrowUp" (fn this.statechart.send "TOGGLE")}}
    {{on-key "ArrowDown" (fn this.statechart.send "TOGGLE")}}
    {{on "blur" this.blur}}
    {{on "input" this.input}}
  />
  <button type="button">
    Dropdown
  </button>
</div>