<div ...attributes>
  <label for="hours">
    Hours
  </label>
  <input
    placeholder="HH"
    class={{if this.hoursFocussed "has-focus"}}
    type="text"
    value={{this.statechart.state.context.hours}}
    {{on "focus" this.focus}}
    {{on "focus" this.focusHours}}
    {{on "keydown" this.keyDown}}
    {{on-key "ArrowUp" this.up}}
    {{on-key "ArrowDown" this.down}}
    {{on-key "Tab" this.tab}}
    {{on "blur" this.blur}}
    {{on "input" this.input}}
  />
  {{#if this.dropdownHoursFocussed}}
    <div class="dropdown">
      {{#each this.hours as |hour|}}
        <button type="button" {{on "click" (fn this.select hour)}}>
          {{hour}}
        </button>
      {{/each}}
    </div>
  {{/if}}
  <span>
    :
  </span>
  <input
    placeholder="MM"
    class={{if this.minutesFocussed "has-focus"}}
    type="text"
    value={{this.paddedMinutes}}
    {{on "focus" this.focus}}
    {{on "focus" this.focusMinutes}}
    {{on-key "ArrowUp" this.up}}
    {{on-key "ArrowDown" this.down}}
    {{on-key "Tab" this.tab}}
    {{on "keydown" this.keyDown}}
    {{on "blur" this.blur}}
    {{on "input" this.input}}
  />
  {{#if this.dropdownMinutesFocussed}}
    <div class="dropdown">
      {{#each this.minutes as |minute|}}
        <button type="button" {{on "click" (fn this.select minute)}}>
          {{minute}}
        </button>
      {{/each}}
    </div>
  {{/if}}
  <span>
  </span>
  <input
    placeholder="AM/PM"
    class={{if this.meridiemFocussed "has-focus"}}
    type="text"
    value={{this.statechart.state.context.meridiem}}
    {{on "focus" this.focus}}
    {{on "focus" this.focusMeridiem}}
    {{on-key "ArrowUp" (fn this.statechart.send "TOGGLE")}}
    {{on-key "ArrowDown" (fn this.statechart.send "TOGGLE")}}
    {{on "blur" this.blur}}
    {{on "input" this.input}}
  />
  {{#if this.dropdownMeridiemFocussed}}
    <div class="dropdown">
      <button type="button" {{on "click" (fn this.selectMeridiem "AM")}}>
        AM
      </button>
      <button type="button" {{on "click" (fn this.selectMeridiem "PM")}}>
        PM
      </button>
    </div>
  {{/if}}
  <button type="button" {{on "click" this.dropdown}}>
    Dropdown
  </button>
</div>