<div class="container pt-10">
  <h2 class="mb-10">
    Time Input
  </h2>
  <div>
    <div class="container">
      {{!-- Uncomment the line below if running locally to show the inspectors tools for XState --}}
      {{!-- <XStateInspector /> --}}
      <div class="w-1/2">
        <H::TimeInput @time={{this.time}} @onChange={{fn (mut this.time)}} />
      </div>

      <div class="mt-10">
        <label for="time">
          Bound value:
        </label>{{this.time}}
      </div>
    </div>

    <hr class="my-10" />
    <div class="container">
      <div class="w-1/2">
        <H::TimeInput
          @time={{this.otherTime}}
          @onChange={{fn (mut this.otherTime)}}
        />
      </div>

      <div class="mt-10">
        <label for="time">
          Bound value:
        </label>{{this.otherTime}}
      </div>
    </div>
  </div>
</div>